@import 'tailwindcss';

:root {
    --background: #000f24;
    --foreground: #ededed;
}

html,
body {
    height: 100%;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family:
        Roboto Condensed,
        Arial,
        Helvetica,
        sans-serif;
    display: grid;
}
